.postion-item-box {
  .position-edit-item,
  .position-show-item {
    display: flex;
    flex: 1;
    align-items: center;
    .col {
      flex: 1;
      height: 42px;
      line-height: 42px;
    }
  }
  .position-edit-item {
    .col {
      padding-right: 10px;
    }
    input {
      width: 100%;
      max-width: 100px;
      font-size: 15px;
      outline: none;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid #555;
      transition: all 0.25s ease;
      &:focus {
        border-color: #d20;
      }
    }
  }
  .position-show-item {
    padding: 0 5px;
    .stock-postion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .delete-btn {
        color: #ff746a;
      }
    }
  }
}
