.stocks-list-wrap {
  margin-top: 8px;
  margin-bottom: 20px;
  .postion-list-header {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    background-color: #eee;
    padding: 0 10px;
    .th {
      height: 50px;
      line-height: 50px;
      flex: 1;
    }
  }
}