.stock-list-wrap {
  width: 100%;
  .tools-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    .sort-tool {
    }
    .position-tool {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .stock-list {
    @media screen and (min-width: 600px) {
      &.flow {
        display: flex;
        flex-wrap: wrap;
        .stock-item {
          min-width: 360px;
          max-width: 422px;
          flex-shrink: 0;
          margin-left: 0;
          margin-right: 12px;
          flex: 1;
          padding-bottom: 16px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    // iphone 6/7/8横屏
    @media screen and (min-width: 667px) {
      &.flow {
        .stock-item {
          min-width: 200px;
          max-width: 265px;
        }
      }
    }
    // iphone 横屏
    @media screen and (min-width: 735px) {
      &.flow {
        .stock-item {
          min-width: 200px;
          max-width: 300px;
        }
      }
    }
    // ipad
    @media screen and (min-width: 767px) {
      &.flow {
        .stock-item {
          min-width: 316px;
          max-width: 422px;
        }
      }
    }
  }
}
