.stock-item {
  .white-blank {
    height: 8px;
  }
  .stock-spc-item {
    margin-top: 5px;
  }
  .stock-item-label {
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 8px;
  }
  .advice-value {
    color: #555;
  }
  .stock-item-value {
    word-break: break-all;
    .mark {
      color: orange;
    }
    &.link {
      cursor: pointer;
      text-decoration: underline;
      color: #1a0dab;
    }
    &.red {
      color: #f54545;
    }
    &.green {
      color: #0f990f;
    }
    &.default {
      color: #666;
    }
  }
}
