.stock-item {
  margin-bottom: 12px;
  border-radius: 3px;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 1px;
  padding-bottom: 10px;
  &.green {
    background-color: rgba(15, 153, 15, 0.02);
    border: 1px dashed rgba(15, 153, 15, 0.2);
  }
  &.red {
    background-color: rgba(245, 69, 69, 0.02);
    border: 1px dashed rgba(245, 69, 69, 0.2);
  }
  .weight {
    font-weight: 500;
  }
  .white-blank {
    height: 6px;
  }
  .stock-spc-item {
    margin-top: 6px;
    display: flex;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .earn-rate-item {
    height: 30px;
    align-items: center;
    .stock-item-value {
      height: 30px;
      line-height: 30px;
      text-indent: 6px;
      color: #fff !important;
      border-radius: 1px;
      font-size: 14px;
      &.red {
        background-color: #f54545;
      }
      &.green {
        background-color: #0f990f;
      }
      &.default {
        // background-color: #666;
      }
    }
  }
  .percent-item {
    position: relative;
    display: flex;
    .stock-item-value {
      position: relative;
      flex: 1;
      &.red {
        .percent-bar {
          background-color: #f54545;
        }
      }
      &.green {
        .percent-bar {
          background-color: #0f990f;
        }
      }
     .percent-bar {
        position: absolute;
        left: 0;
        bottom: -3px;
        content: '';
        width: 50px;
        height: 1px;
        border-radius: 1px;
        opacity: 0.6;
      }
    }
  }
  .stock-item-label {
    display: inline-block;
    width: 78px;
    text-align: right;
    padding-right: 8px;
    color: #888;
    &::after {
      content: ':';
      display: inline-block;
      color: #bbb;
      margin-left: 1px;
    }
  }
  .stock-item-value {
    word-break: break-all;
    color: #353535;
    &.earn-amount {
      opacity: 0.8;
    }
    &.advice-value {
      line-height: 1.5;
      color: orange;
    }
    .mark {
      color: orangered;
    }
    .link {
      cursor: pointer;
      color: #1a0dab;
    }
    .text-weak {
      color: #888;
      margin-left: 5px;
    }
    &.red {
      color: #f54545;
    }
    &.green {
      color: #0f990f;
    }
    &.default {
      color: #666;
    }
  }
}
